extends layout

block content
    div.container-fluid
        div.row
            div#header.col-md-12
        div.row
            //breadcrumb
            div#breadcrumbs.col-md-12
        div.row
            //jumbotron
            div.col-md-12
                div#jumbo.jumbotron
        div.row.body-row
            div.col-md-1
            div#body.col-md-10
            div.col-md-1
        div.row
            div.col-md-12
                div#footer.well.well-lg
                    span.glyphicon.glyphicon-off   dMVC footer