doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        script(src='/plugins/underscore.js')
        script(src='/plugins/jquery-3.1.1.js')
        script(src='/plugins/backbone.js')
        script(src='/javascripts/dmvc_client.js')
        script(src='/javascripts/dmvc_basic.js')
        script(src='/javascripts/dmvc_vidgets.js')
        script(src='/javascripts/main.js')
    body
        block content
